        *{
            margin: 0;
            padding: 0;
        }
        .header{
            background-color: #c879b2;
            height: 800px;
             width: 1330px; 
            /* border: 2px solid red; */
            position: relative;
            

        }
        .text{
            color: white;
            transform: rotate(270deg);
             position: absolute;
            left: 0px;
            top: 100px;
            
           
        }
        .first{
            height: 800px;
            width: 250px;
            /* border: 2px solid red; */
           margin-left: 278px;
           background-color: #0d2c40;

        
           }
           .second{
            height: 250px;
            width: 796px;
            /* border: 2px solid red; */
            position: absolute;
            top: 550px;
            left: 530px; 
            background-color: #f15a30;
}
.circle2{
    
    height: 200px;
    width: 200px;
    border-radius: 200px;
    background-color: white;
    position: absolute;
    left: 20px;
    top: 27px;

}
.c2line1{
    height: 3px;
    width: 107px;
    background-color:rgb(115, 224, 133) ;
    position: absolute;
    left: 49px;
    top: 40px;
}
.c2line2{
    height: 3px;
    width: 150px;
    background-color:rgb(115, 224, 133) ;
    transform: rotate(45deg);
}
.c2line3{
    height: 3px;
    width: 150px;
    background-color:rgb(115, 224, 133) ;
    transform: rotate(135deg);
}
.c2line4{
    height: 3px;
    width: 107px;
    background-color:rgb(115, 224, 133) ;
    position: absolute;
    left: 49px;
    top: 146px;
}
.c2line{
    position: absolute;
    top: 92px;
    left: 27px;
}
.circle4{
    
    height: 200px;
    width: 200px;
    border-radius: 200px;
    background-color: white;
    position: relative;
    left: 550px;
    top: 27px;

}
.c4circl1{
    height: 95px;
    width: 95px;
    border-radius: 95px;
    border: 2px double  rgb(115, 224, 133) ;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.c4circl2{
    height: 105px;
    width: 105px;
    border-radius: 105px;
    border: 2px double  rgb(115, 224, 133) ;
     position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.c4circl3{
    height: 115px;
    width: 115px;
    border-radius: 115px;
    border: 2px double  rgb(115, 224, 133) ;
     position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.c4circl4{
    height: 125px;
    width: 125px;
    border-radius: 125px;
    border: 2px double  rgb(115, 224, 133) ;
     position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.paragraph{
    height: 200px;
    width: 600px;
    /* border: 2px solid red; */
    position: absolute;
    left: 550px;
    top: 200px;
}
.paragraph p{
    color: white;
    font-family: sans-serif;
}
.circle1{
    height: 200px;
    width: 200px;
    border-radius: 200px;
    background-color: white;
    position: absolute;
    top: 575px;
    left: 300px;

}
 .heading h1{
    color: white;
    padding-top: 200px;
    padding-left: 20px;
} 
.line1{
    height: 3px;
    width: 150px;
     background-color: red; 
}
.line2{
    height: 3px;
    width: 150px;
    background-color: red;
    transform: rotate(45deg);
}.line3{
    height: 3px;
    width: 150px;
    background-color: red;
    transform: rotate(90deg);
}.line4{
    height: 3px;
    width: 150px;
    background-color: red;
    transform: rotate(135deg);
}
.line{
    position: absolute;
    top: 97px;
    left: 24px;
}
.lines{
    position: absolute;
    bottom: 1px;
    right: 1.6px;
}
.main{
    height: 500px;
    width: 1330px;
    background-color: rgb(246, 239, 229);

    
   
}
.maintext{
    height: 300px;
    width: 420px;
    /* border: 2px solid red; */
    position: absolute;
    top: 900px;
    left:320px;
    
}
.maintext h1{
    font-family: sans-serif;
}

.maintext p{
    font-family: sans-serif;
}




.third{
    background-color: rgb(115, 224, 133);
    height: 900px;
    width: 250px;
    /* border: 2px solid red; */
    position: absolute;
    left: 780px;
    top: 548px;

}
.thirdtext{
    position: absolute;
    top: 50%;
    color: white;
    font-family: sans-serif;
}
.circle3{
    
    height: 200px;
    width: 200px;
    border-radius: 200px;
    background-color: #0d2c40 ;
    position: relative;
    left: 20px;
    top: 27px;

}
.c3ball1{
    height: 35px;
    width: 35px;
    border-radius: 35px;
    border: 2px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.c3ball2{
    height: 35px;
    width: 35px;
    border-radius: 35px;
    border: 2px solid white;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
}.c3ball3{
    height: 35px;
    width: 35px;
    border-radius: 35px;
    border: 2px solid white;
    position: absolute;
    top: 30%;
    right: 18%;
}.c3ball4{
    height: 35px;
    width: 35px;
    border-radius: 35px;
    border: 2px solid white;
    position: absolute;
    bottom: 30%;
    right: 18%;
}
.c3ball5{
    height: 35px;
    width: 35px;
    border-radius: 35px;
    border: 2px solid white;
    position: absolute;
    bottom:18%;
    left:50%;
    transform:translateX(-50%);

}
.c3ball6{
    height: 35px;
    width: 35px;
    border-radius: 35px;
    border: 2px solid white;
     position: absolute;
    bottom: 30%;
    left: 18%;
}
.c3ball7{
    height: 35px;
    width: 35px;
    border-radius: 35px;
    border: 2px solid white;
     position: absolute;
    top: 30%;
    left: 18%;
}
.house{
    background-image: url(backgroundHousepic.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1000px;
    width: 1330px;
    
}
.textbox{
    height: 500px;
    width: 500px;
    background-color: #0d2c40;
    /* margin-top: 250px; */
    position: relative;
    top: 250px;

}
.headingtex{
    width: 300px;
    height: 50px;
    border: 2px solid rgb(7, 7, 7);
    transform: rotate(270deg);
    color: white;
    font-family: sans-serif;
    position: absolute;
    top: 150px;
    right: 300px;
}
.pragraphtext{
    color: white;
    font-family: sans-serif;
    margin: 30px 100px 0px 80px;
     position: absolute; 
    
}
.list{
    height: 200px;
    width: 200px;
    /* border: 2px solid red; */
    position: absolute;
    margin: 380px 0px 0px 20px;
}
.list li{
    list-style: none;
    color: #0d2c40;
    

}
.list a{
    color:#0d2c40;
    text-decoration: none;
    font-family: sans-serif;
}
.roomlamp{
    height: 1000px;
    width: 1330px;
    background-color: rgb(246, 239, 229);
    position: relative;

}
.four{
    background-color: rgb(115, 224, 133);
    height: 900px;
    width: 250px;
    /* border: 2px solid red; */
    position: absolute;
    left: 780px;
    bottom:300px;

}
.circle5{
    
    height: 200px;
    width: 200px;
    border-radius: 200px;
    background-color:white ;
    position: relative;
    left: 20px;
    top: 27px;

}
.c5ball1{
    height: 35px;
    width: 35px;
    border-radius: 35px;
    border: 2px solid  #0d2c40;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.c5ball2{
    height: 35px;
    width: 35px;
    border-radius: 35px;
    border: 2px solid  #0d2c40;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
}.c5ball3{
    height: 35px;
    width: 35px;
    border-radius: 35px;
    border: 2px solid  #0d2c40;
    position: absolute;
    top: 30%;
    right: 18%;
}.c5ball4{
    height: 35px;
    width: 35px;
    border-radius: 35px;
    border: 2px solid  #0d2c40;
    position: absolute;
    bottom: 30%;
    right: 18%;
}
.c5ball5{
    height: 35px;
    width: 35px;
    border-radius: 35px;
    border: 2px solid  #0d2c40;
    position: absolute;
    bottom:18%;
    left:50%;
    transform:translateX(-50%);

}
.c5ball6{
    height: 35px;
    width: 35px;
    border-radius: 35px;
    border: 2px solid  #0d2c40;
     position: absolute;
    bottom: 30%;
    left: 18%;
}
.c5ball7{
    height: 35px;
    width: 35px;
    border-radius: 35px;
    border: 2px solid  #0d2c40;
     position: absolute;
    top: 30%;
    left: 18%;}
.roombox{
    width: 500px;
    height:500px;
    background-color: rgb(246, 239, 229);
    position:absolute;
    left:278px;
    bottom: 600px;
    /* border: 2px solid red; */
}
.paragraphroombox{
    font-family: sans-serif;
    color:  #0d2c40;
}
.headingroombox{
    font-family:sans-serif;
    color: #0d2c40 ;
}
.backgroundimglamp{
    background-image: url(roomlamppic.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 450px;
    /* border: 2px solid red; */
    position: absolute;
    left: 40px;
    top: 500px;
}
.lamptext1{
     height: 500px;
    width: 380px;
    /* border: 2px solid red; */
    position: absolute;
    left: 500px;
    top: 500px;

}
.lamptext2{
     height: 500px;
    width: 400px;
    /* border: 2px solid red; */
    position: absolute;
    left: 925px;
    top: 500px;

}
.requirement{
    height: 60px;
    width: 200px;
    /* border: 2px solid red; */
    position: absolute;
    top: 550px;
    left: 320px;
    transform: rotate(270deg);
    font-family: sans-serif;
    font-size: 40;
}
.last{
    height: 1800px;
    width: 1330px;
    background-color: #c879b2;
    position: relative;
    
}
.lasttext{
            height: 800px;
            width: 266px;
            /* border: 2px solid red; */
           margin-left: 278px;
            position: absolute;
           right: 1064px;
           
        

        
           }
.lasttext h1{
    color: white;
    font-family: monospace;
    position: absolute;
    top: 350px;
    left: 20px;
}
           
.last1{
            height: 870px;
            width: 266px;
            /* border: 2px solid red; */
           margin-left: 278px;
           background-color: #0d2c40;

           position: absolute;
           right: 798px;

        
           }
           
.last2{
            height: 520px;
            width: 266px;
            /* border: 2px solid red; */
           margin-left: 278px;
           background-color: #f15a30;
           position: absolute;
           right: 532px;
           top: 350px;


        
           }
           
.last3{
            height: 1445px;
            width: 266px;
            /* border: 2px solid red; */
           margin-left: 278px;
           background-color:rgb(115, 224, 133);
           position: absolute;
           right: 266px;
           top: 350px;

        
           }
.circle6{
    
    height: 210px;
    width: 210px;
    border-radius: 210px;
    background-color:white ;
    position: relative;
    left: 30px;
    top: 1170px;

}
           
.last4{
            height: 520px;
            width: 266px;
            /* border: 2px solid red; */
           background-color: #f15a30;
           position: absolute;
           right: 0px;
           top: 350px;
        

        
           }
    .c5text{
    position: absolute;
    top: 450px;
    color: white;
    font-family: sans-serif;
}
.No1 h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 120px;
    position: absolute;
    left: 20px;
    top: 360px;
}
.h2div1{
    color:white;
    font-family: monospace;
    position:absolute;
    left: 20px;
    top: 480px;
}
.No5 h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 120px;
    position: absolute;
    left: 20px;
    top: 75%;
}
.h2div5{
    color:white;
    font-family: monospace;
    position:absolute;
    left: 20px;
    top: 780px;
}
.No2 h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 120px;
    position: absolute;
    left: 20px;
    top: 10px;
}
.h2div2{
    color:white;
    font-family: monospace;
    position:absolute;
    left: 20px;
     top: 130px;
}

.No3 h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 120px;
    position: absolute;
    left: 20px;
    top: 10px;
}
.h2div3{
    color:white;
    font-family: monospace;
    position:absolute;
    left: 20px;
     top: 130px;
}

.No4 h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 120px;
    position: absolute;
    left: 20px;
    top: 10px;
}
.h2div4{
    color:white;
    font-family: monospace;
    position:absolute;
    left: 20px;
     top: 130px;
}
.No6 h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 120px;
    position: absolute;
    left: 20px;
    top: 300px;
}
.h2div6{
    color:white;
    font-family: monospace;
    position:absolute;
    left: 20px;
     top: 425px;
}

.No7 h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 120px;
    position: absolute;
    left: 20px;
    top: 300px;
}
.h2div7{
    color:white;
    font-family: monospace;
    position:absolute;
    left: 20px;
     top: 425px;
}

.No8 h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 120px;
    position: absolute;
    left: 20px;
    top: 300px;
}
.h2div8{
    color:white;
    font-family: monospace;
    position:absolute;
    left: 20px;
     top: 425px;
}
.resourse{
    height: 60px;
    width: 200px;
    /* border: 2px solid red; */
    color: white;
    font-family: monospace;
    transform: rotate(270deg);
    position: absolute;
    left: 680px;
    top: 1400px;
}
.achive{
    height: 60px;
    width: 200px;
    /* border: 2px solid red; */
    color: white;
    font-family: sans-serif;
    transform: rotate(270deg);
    position: absolute;
    left: 680px;
    top: 1050px;


}
.last3text{
    color: white;
    font-family: monospace;
    position: absolute;
    left: 20px;
    top: 700px;
    font-size: 24px;
}